.container{
	display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #2d195f;
    
    color: white;
}

div > h1{
	
    background-color: #2b2d67;
    width: 52%;
    text-align: center;
    height: 41px;
}